@model IEnumerable<MainCore.Models.Player>

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Players of server @ViewData["Server"]</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                AllianceId
            </th>
            <th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllianceId)
                </td>
            </tr>
        }
    </tbody>
</table>
