@using WebMVC.Controllers

@{
    // controler, action, title
    List<NavbarItem> dict = [        
        new ("Home", nameof(HomeController.Index), "Home"),
        new ("Servers", nameof(ServersController.Index), "Servers"),
        new ("Players", nameof(PlayersController.Index), "Players"),
        new("Players", nameof(PlayersController.InactivePlayers), "InactivePlayers"),
        new("Players", nameof(PlayersController.PopulationHistory), "Players with population history"),
        new("Players", nameof(PlayersController.AllianceHistory), "Players with alliance history "),
        new("Villages", nameof(VillagesController.Index), "Villages"),
        new("Villages", nameof(VillagesController.PopulationHistory), "Villages with population history"),
        new("AboutUs", nameof(AboutUsController.Index), "About us"),
    ];


}
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        @foreach (var (controller, action, title) in dict)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="@controller" asp-action="@action">@title</a>
            </li>
        }
    </ul>
</div>