@using WebMVC.Controllers
@{
    // controler, action, title
    List<NavbarItem> dict = new List<NavbarItem> {
        new("Home", nameof(HomeController.Index), "Home"),
        new("Villages", nameof(VillagesController.Inactives), "Inactive farms"),
        new("Villages", nameof(VillagesController.Index), "Villages"),
        new("Players", nameof(PlayersController.Index), "Players"),
        new("Alliances", nameof(AlliancesController.Index), "Alliances"),
        new("AboutUs", nameof(AboutUsController.Index), "About us"),
    };
}

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        @foreach (var (controller, action, title) in dict)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="@controller" asp-action="@action">@title</a>
            </li>
        }
    </ul>
</div>

