@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeatureFlag = Context.Features.Get<ITrackingConsentFeature>();
    var showBannerFlag = !consentFeatureFlag?.CanTrack ?? false;
    var cookieStr = consentFeatureFlag?.CreateConsentCookie().Replace("none", "strict");
    
}

@if (showBannerFlag)
{
    <div id="cookieConsent">
        <h3 class="display-6">Cookie Policy</h3>
        <p>PLEASE ACCEPT OUR <a asp-area="" asp-controller="AboutUs" asp-action="@nameof(AboutUsController.CookiePolicy)">COOKIE POLICY</a>.   </p>
        <button type="button" data-cookie-string="@cookieStr">
            <span aria-hidden="true">Accept</span>
        </button>
    </div>
}
