@using TagRenderMode = X.PagedList.Web.Common.TagRenderMode

@model IPagedList

@if (Model is not null) 
{
    <div id="pagination" class="text-center">
        <div>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        </div>
        <br />
        <div class="pagination" style="display:grid; place-items:center;">
            <div>
                @{
                    var options = Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast;
                    options.FunctionToTransformEachPageLink = (li, a) =>
                    {
                        if (a.Attributes.ContainsKey("href"))
                        {
                            var page = a.Attributes["href"];
                            a.Attributes["href"] = "#";
                            a.Attributes.Add("data-num", page);

                        } 

                        li.AppendHtml(a.ToString(TagRenderMode.Normal));

                        return li;
                    };
                }
                @Html.PagedListPager(Model, page => $"{page}", options)
            </div>
        </div>
    </div>

    @Html.PartialSectionScripts(
        @<script src="~/js/pagination.js" asp-append-version="true"></script>
    )

}