@inject DataService dataService

@{
    const string expression = "server-select";
    var server = dataService.Server;
    var servers = new List<SelectListItem>()
    {
        new SelectListItem(server, server, true),
    };

    var htmlAttributes = new Dictionary<string, object>
    {
        {"class", $"form-select {Constants.Select2Combox}"},
        {"data-ajax--url", "/servers/ServerList"},
    };
}

<div class="input-group mt-3">
    <span class="input-group-text">
        @Html.Label(expression, "Server", new { @class = "control-label", style = "width: 100%" })
    </span>
    
    @Html.DropDownList(expression, servers, htmlAttributes)
</div>

@Html.PartialSectionScripts(
    @<script src="~/js/server_dropdown.js" asp-append-version="true"></script>
)