@using MapSqlAspNetCoreMVC.ViewComponents;
@model ServerPickerModel

<div>
    <form method="GET">
        <div class="form-group">
            <select id="server-picker"
                    class="form-control"
                    name="server"
                    onchange="this.parentElement.parentElement.submit();">
                @foreach (var server in Model.AvailableServers)
                {
                    <option value="@server"
                            selected="@(Model.CurrentServer == server)">
                         @server
                    </option>
                }
            </select>
        </div>
    </form>
</div>