@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer ViewLocalizer

@{
    ViewData["Title"] = @ViewLocalizer["PageName"];
}

<div class="text-center">
    <h1 class="display-4">@ViewLocalizer["Welcome"]</h1>
    <p>Server @ViewData["Server"] </p>
    <p>@ViewLocalizer["DateMessage", ViewBag.NewestDateTime]</p>
</div>
