@using Core.Features.Shared.Dtos
@inject DataService dataService

@model PlayerDto

<div>

    <span class="small text-muted">
        [@Constants.TribeNames[Model.Tribe]]
    </span>
    <a 
        href="https://@dataService.Server/profile/@Model.PlayerId" 
        target="_blank" 
        type="button"
       class="btn-link text-decoration-none">
        @Html.DisplayFor(m => m.PlayerName)
    </a>

    @if (Model.AllianceId != 0)
    {
        <a href="https://@dataService.Server/alliance/@Model.AllianceId"
           target="_blank"
           type="button"
           class="btn-link small text-muted text-decoration-none">
            [@Html.DisplayFor(m => m.AllianceName)]
        </a>
    }
</div>