@using Features.Dtos

@model List<int>

@{
    var name = ViewData["Name"] as string;
    var data = ViewData["Data"] as IList<AllianceDto> ?? [];

    var htmlAttributes = new Dictionary<string, object>
    {
        {"class", $"form-select {Constants.Select2Combox}"},
        {"data-ajax--url", $"{ViewData["Url"]}"},
    };
}

<div class="input-group mt-3 list-parameter">
    <span class="input-group-text">
        @Html.Label(name, name, new { @class = "control-label", style = "width: 100%", })
    </span>

    @Html.ListBox(name, data.Select(x => new SelectListItem(x.AllianceName, x.AllianceId.ToString(), true)), htmlAttributes)
</div>

