
@using Features.Villages

@model Tribe

<div class="input-group mt-3 list-parameter">
    <span class="input-group-text">
        @Html.LabelFor(m => m, new { @class = "form-check-label", style = "width: 100%", })
    </span>

    @Html.DropDownListFor(m => m, Html.GetEnumSelectList<Tribe>(), new { @class = "form-select" })
</div>
