@using Core.Queries
@using MediatR
@inject IMediator mediator
@{
    ViewData["Title"] = "Home";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> We have @await mediator.Send(new GetServerCountQuery()) servers in our database</p>

</div>
