@using Features.Servers
@using Infrastructure.Services

@inject IMediator mediator
@inject IServerCache serverCache

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> We have @await mediator.Send(new GetServerCountQuery()) servers in our database</p>
    @await Html.PartialAsync("_ServerPickerPartial")

</div>