@using Features.Queries.Servers
@using Infrastructure.Services

@inject IServerCache serverCache
@inject GetServerCountQuery.Handler getServerCountQuery
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> We have @await getServerCountQuery.HandleAsync(new ()) servers in our database</p>
    @await Html.PartialAsync("_ServerPickerPartial")

</div>