<div class="text-center">

    <div class="display-4 fw-bold lh-1 mb-2" style="margin-top: 100px;">
        Cookie Policy
    </div>

    <div class="card" style="width: 600px; display: block; margin-left:auto; margin-right: auto; text-align:left; margin-top: 30px;">
      <div class="card-body">
        <h5 class="card-title">Our cookies and the use of them</h5>
        <p class="card-text">We got 3 types of cookies right now. Cookies from Google Analytics, a cookie for remembering yours server selector and a cookie for remembering that you consent to accept our cookies.</p>

        <p>The current cookies are the following:</p>

        <ul>
            <li>_ga</li>
            <li>__gads</li>
            <li>_ga_4R8HKKY9R4 (This cookie can vary)</li>
            <li>.AspNet.Consent</li>
            <li>TMA_server</li>
        </ul>
      </div>
    </div>
</div>