@{
	ViewData["Title"] = "Disclaimer";
}

<h2>Disclaimer</h2>

<h3>1. Content of the online offer</h3>
<p>
	The author reserves the right not to be responsible for the topicality, correctness, completeness or quality of the information provided. Liability claims against the author, which refer to material or immaterial nature, which were caused by the use or disuse of the information provided or by the use of incorrect and incomplete information, are excluded, unless the author proves intentional or grossly negligent Fault is present.
</p>

<h3>2.References and links</h3>
<p>
	For direct or indirect references to external websites ("hyperlinks"), which lie outside the area of responsibility of the author, a liability obligation would come into force only in the case in which the author has knowledge of the contents and it would be technically possible and reasonable to prevent the use in case of illegal content.
</p>
<p>
	The author hereby expressly declares that at the time of linking, no illegal content was recognizable on the linked pages. The author has no influence on the current and future design, content or authorship of the linked pages. Therefore he dissociates himself hereby expressly from all contents of all linked / linked sides, which were changed after the link setting. This statement applies to all links and references within the own Internet offer as well as to foreign entries in guest books, discussion forums, link directories, mailing lists and in all other forms of databases on whose contents external write accesses are possible. For illegal, incorrect or incomplete contents and in particular for damages resulting from the use or non-use of such information presented, the provider of the page referred to, and not the one who only links to the respective publication, is liable.
</p>

<h3>3. Copyright and Trademark Law</h3>
<p>
	The author endeavors to observe the copyrights of the images, graphics, sound documents, video sequences and texts used in all publications, to use images, graphics, sound documents, video sequences and texts created by himself or to resort to license-free graphics, sound documents, video sequences and texts.
</p>
<p>
	All brand names and trademarks mentioned within the Internet offer and possibly protected by third parties are subject without restriction to the provisions of the respectively valid trademark law and the ownership rights of the respective registered owners. Just because of the mere mention is not to draw the conclusion that trademarks are not protected by rights of third parties.
</p>
<p>
	The copyright for published, created by the author objects remains solely with the author of the pages. Reproduction or use of such graphics, sound documents, video sequences and texts in other electronic or printed publications is not permitted without the express consent of the author.
</p>

<h3>4. Privacy</h3>
<p>
	If within the Internet offer the possibility for the input of personal or business data (email addresses, names, addresses) exists, the surrender of these data on the part of the user on expressly voluntary basis. The use of the contact data published in the imprint or comparable information such as postal addresses, telephone and fax numbers as well as email addresses by third parties for the transmission of not expressly requested information is not permitted. Legal action against the senders of so-called spam mails for violations of this prohibition are expressly reserved.
</p>

<h3>5. Liability</h3>
<p>
	The contents of our pages were created with great care. However, we cannot guarantee that the content is correct, complete or up-to-date.
</p>

<h3>6. Legal validity of this disclaimer</h3>
<p>
	This disclaimer is to be regarded as part of the Internet offer from which this page was referenced. If sections or individual terms of this statement are not legal or correct, the content or validity of the other parts remain uninfluenced by this fact.
</p>