@{
    ViewData["Title"] = "About us";
}

<h2>About us</h2>
<p>
	Travian MapSql Analytics store data from map.sql provided by <a href="https://travian.com/">Travian</a>, allows you to filter what you need.
</p>

<h2>Contact us</h2>
<div>
	<a href="https://discord.gg/UpqXrCz2Cw">
		<img src="https://discordapp.com/api/guilds/1199245828318036078/widget.png?style=banner3" alt="Discord invite">
	</a>
</div>

<h2>Support us</h2>

<iframe id='kofiframe' src='https://ko-fi.com/vinaghost/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:100%;padding:4px;background:#f9f9f9;' height='712' title='vinaghost'></iframe>
