@using Features.Shared.Parameters

@model IVillageFilterParameters
<div>
    @Html.EditorFor(m => m.Tribe)
    @Html.EditorFor(m => m.Capital)

    @Html.EditorFor(m => m.MinVillagePopulation)
    @Html.EditorFor(m => m.MaxVillagePopulation)
</div>